
/***** General *****/

*{
    overflow: auto;
}
.center{
    text-align: center;
    max-width: 100%;
}
body{
    background-color: #6c829d;
    font-family: Arial;
    margin: 0px;
}
div.content{
    background-color: white;
    margin: 20px 8px 20px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.2);
    overflow: visible;
}

/***** Heading *****/

div.category{
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: visible;
}
p.category{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
}
h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.separator{
    height: 1px;
    width: 100px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
p.description{
    display: inline-block;
    text-align: center;
    max-width: 350px;
    font-size: 14px;
}

/***** Image and Table Info *****/

div.info{
    position: relative;
}

img.info {
    display: block;
    background-color: lightgray;
    max-height: 500px;
    min-height: 200px;
    min-width: 100%;;
    object-fit: cover;
}
table.info{
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    height: 50px;
    background-color: #6c829dc0; 
    color: white;
}
table.info th{
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 8px;
    font-size: 14px;
}
table.info td{
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

/***** Ingredientes and Instructions *****/

div.col{
    width: 100%;
}
div.col h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 5px solid #6c829d;
    padding-bottom: 5px;
}
div.col1{
    font-size: 12px;
    display: inline-block;
}
div.col2{
    float: none;
}
div.ingredients p{
    text-align: center;
    font-size: 14px;
    padding: 4px 0px;
    margin: 4px;
    border: solid #9baabd ;
}
table.instructions p.number{
    font-size: 14px;
    background-color: #6c829d;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 50%;
    margin: 0px;
}
table.instructions td.instruction_step{
    font-size: 14px;
    padding-left: 10px;
}
table.instructions tr{
    height: 40px;
}
table.instructions td{
    vertical-align: top;
}

    /***** Responsive Design for desktop *****/


@media only screen and (min-width: 768px) {

    /***** Main container *****/

    div.content{
        margin: 60px 10% 80px 10%;
        padding: 0px 30px 30px 30px;
        min-width: 350px;
    }

    /***** Image and Table Info *****/

    table.info{
        height: 80px;
    }
    table.info th{
        font-size: 16px;
    }
    table.info td{
        font-size: 14px;
    }    

    /***** Ingredients and Instructions *****/

    div.col{
        width: 45%;
    }
    div.col h2{
        font-size: 15px;
    }
    div.col1{
        margin-right: 10%;
    }
    div.col2{
        float: right;
    }       
}

    /***** Responsive Design for very large screens *****/


@media only screen and (min-width: 900px) {

    /***** Main container *****/

    div.content{
        margin-left: auto;
        margin-right: auto;
        width: 670px;
    }
}